<h1>RestoPicker</h1>

<h3>Welcome to RestoPicker!</h3>

<h4>Have you ever had trouble coming to a decision on where to eat among
freinds or coworkers?With RestoPicker, a polite and mutually tennable solution can be
reached with a minimum of fuss!</h4>

<h2>Insert splash and </h2>

<article>Here's how it works: one member of your party creates a group
on our app and gives the group code to the others. Each person can then
sign on and rank nearby restaurants according to their tastes (privately).
The choices are running through a weighted choice algorithm to arrive
at an option of maximum happiness (with a couple backups, just in case),
and presto! What was once a trial of politeness and secret tastes, now
simplified!</article>

<h1>RestoPicker Demo Website</h1>
